@use "../landing/variables";
@import "../landing/main";
@import "../landing/header";

.container {
  display: flex;
  flex-direction: column;
  font-family: variables.$font_fuzzy;
  color: variables.$color;
  text-align: center;
  margin-top: 30px;
}
