.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    box-shadow: 0px 0px 20px variables.$color_green; 
}

.card-img-top {   
    height: 300px;
    width: 100%; 
    
}

.card-title {
    font-size: 30px;
    font-family: variables.$font_fuzzy;
    color: variables.$color;
}

.card-text {
    font-size: 20px;
    font-family: variables.$font_fuzzy;
    color:black
}

.btn {
    background-color: variables.$color_green;
    color: white;

    &:hover {
        background-color: variables.$color;;
        transition: all 0.5s ease-in-out;
    }
}